.toggle {
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 50%;
	font-size: 1em;
	width: 1.5em;
	height: 1.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	background-color: black;
	color: #a59485;
	border: none;
	cursor: pointer;
}
.toggle:focus {
	outline: none;
}
.toggle.opened {
	background-color: transparent;
}
.toggle:hover {
	background: rgb(150,10,20);
}
.strand {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-auto-rows: 100%;
	width: 90%;
	height: 90%;
	max-width: 50em;
	max-height: 20em;
	border-color: #000;
	border-width: 4em;
	border-style: solid;
	border-image-source: url('./../../assets/border.png');
	border-image-slice: 43% 40% 43% 40%;
	border-image-width: 5em;
	border-image-outset: 0;
	border-image-repeat: round;
}

.strand>.stats-area {
	position: relative;
	height: 100%;
	min-width: 2em;
	overflow-x: hidden;
	overflow-y: auto;
}

.strand>.passages-area {
	height: 100%;
	white-space: pre-wrap;
	overflow-x: hidden;
	overflow-y: auto;
}

.strand>.passages-area::-webkit-scrollbar,
.strand>.stats-area::-webkit-scrollbar {
	width: .2em;
	background: none;
	margin-left: .1em;
}

.strand>.passages-area::-webkit-scrollbar-thumb,
.strand>.stats-area::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, .5);
	border-radius: .1em;
}

.strand>.passages-area::-webkit-scrollbar-track,
.strand>.stats-area::-webkit-scrollbar-track {
	background: none;
}
